.navbar1{
	background-color: rgba(34,35,38,.5);
	position: fixed;
	z-index: 10;
}
.container{
	border: 1px solid red;
}

.logo-spotify{
	width: 100px;

}

.carrusel{
	width: 500px;
	height: 200px;
}

.fondo .background-image {
	width: 100%;
	height: 100%;
}

@media screen and (max-width:600px){
	*{
		background-color: red;
	}
}
